<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendario">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Reservar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-reservas">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="admin" *ngIf="auth.isAdmin">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>